name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.4'

    - name: Build for Linux
      run: |
        GOOS=linux GOARCH=amd64 go build -o goarchiver-linux-amd64 ./...

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: goarchiver-artifacts
        path: goarchiver-linux-amd64